.header{
  position: absolute;
  width: 100%;
  z-index: 2;
  &__left-side{
  display: flex;
  }
  &__container {
    display: flex;
    justify-content: center;
  }
}
.navbar{
  margin: 25px 0;
}
.navbar__link{
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  text-transform: uppercase;

}
.navbar__link:not(:last-child) {
  margin-right: 40px;
}
.navbar__link:before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color:red;
  bottom: 0;
  border-radius: 20px;
  transform: scale(0);
  transition: 0.5s;
}
.navbar__link:not(:last-child):after{
  content: '';
  position: absolute;
  height: 100%;
  width:2px;
  background-color:red;
  right: -23px;
}
.navbar__link:hover:before{
 transform: scale(1);
}
