@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Oswald', sans-serif;
}
.container{
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 15px;
}
a{
  text-decoration: none;
  color: inherit
}
.grid{
  &__col{
    &_6 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &_4 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 100px;
    }
    &_3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 0 20px;
    }
  }

}
@import '_header.scss';
@import './section';
@import '_footer.scss';
@import '_media.scss';
@import "./about";
